<h1 class="title">Edit Customer</h1>

<%# <%= render "form", customer: @customer > %>
<%= render partial: 'form',
            locals: {purpose: "update", customer: @customer} %>
<br>

<div>
  <%= link_to "Show this Customer", @customer %> |
  <%= link_to "Back to Customer Index", customers_path %>
</div>
