<div id="<%= dom_id order %>">
  <p>
    <strong>Customer:</strong>
    <%= link_to order.customer.name, order.customer %>
  </p>

  <p>
    <strong>Invoice Number:</strong>
    <%= order.payment_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
