<div id="<%= dom_id product_category %>">
  <p>
    <strong>Product:</strong>
    <%= product_category.product.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product_category.category.name %>
  </p>

</div>