/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lexend+Peta:wght@200&family=Lexend:wght@200&family=Nanum+Gothic+Coding&family=Poiret+One&family=Urbanist:wght@300&display=swap);

 #hero
{
  display: flex;
  background-image: url("patrick-fore-m9qWesqRN0M-unsplash-sliced.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -150px;
  height: 130px;
  align-items: center; /*vertical*/
  justify-content: flex-start; /*horizontal*/
}

#hero p
{
  color: #fdf3e4;
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 80px;
  margin: 0px;
  padding-left: 50px;
}