/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lexend+Peta:wght@200&family=Lexend:wght@200&family=Nanum+Gothic+Coding&family=Poiret+One&family=Urbanist:wght@300&display=swap);

 #hero
{
  display: flex;
  background-image: url("patrick-fore-m9qWesqRN0M-unsplash-sliced.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -150px;
  height: 130px;
  align-items: center; /*vertical*/
  justify-content: flex-start; /*horizontal*/
}

#hero p
{
  color: #fdf3e4;
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 80px;
  margin: 0px;
  padding-left: 50px;
}

.title
{
  font-family: 'Fredericka the Great', sans-serif;
}

.specials h1
{
  font-family: 'Fredericka the Great', sans-serif;
}

.specials h2
{
  font-family: 'Fredericka the Great', sans-serif;
  font-weight: bold;
  width: 160px;
}

.specials h3
{
  font-weight: bold;
  margin-bottom: 3px;
}

body
{
  background-color: #989398;
  font-family: 'Urbanist', sans-serif;
}

p, a.navbar-item, a.navbar-link, title, h2, h3
{
  font-family: 'Urbanist', sans-serif;
}

#main-navbar
{
  background-color: #3a353b;
}

#main-navbar a.navbar-item
{
  color: #fdf3e4;
  /* font-family: 'Fredericka the Great', sans-serif; */
}

#main-navbar a.navbar-item:hover
{
  color: #3a353b;
  background-color: #989398;
}

#models-navbar, #models-navbar div.navbar-dropdown
{
  background-color: #564f57;
}

#models-navbar a.navbar-item, #models-navbar a.navbar-link
{
  color: #fdf3e4;
  /* font-family: 'Fredericka the Great', sans-serif; */
}

#models-navbar a.navbar-item:hover, #models-navbar a.navbar-link:hover
{
  color: #3a353b;
  background-color: #6d6a6d;
}

#picbanner img
{
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.specials img
{
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

footer
{
  background-color: #3a353b;
  color: #fdf3e4;
  font-family: 'Urbanist', sans-serif;
}

footer div#address p
{
    padding: 0px 10px;
    border-left: 1px #fdf3e4 solid;
}

footer div#address p:first-of-type
{
    border-left: none;
}

.row p
{
    max-width: 380px;
}

@media(max-width: 640px)
{
  #hero
  {
    /* display: flex; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-position: 0px -30px;
    /* height: 130px; */
    /* align-items: center; vertical */
    /* justify-content: flex-start; horizontal */
  }


  #hero p
  {
      width: 30%;
      font-size: 40px;
      line-height: 50px;
  }

  #hero p span
  {
      display: block;
      line-height: 10px;
      padding: 0 20%;
      padding-top: 10px;
  }
}