<div class="content" id="<%= dom_id category %>">
  <% if show_page %>
    <p class="title"><%= category.name %></p>
  <% else %>
    <p class="title"><%= link_to category.name, category %></p>
  <% end %>

  <ul>
    <% category.products.each do |p|%>
        <li><%= link_to p.name, product_path(p.id) %></li>
    <%end%>
  </ul>
</div>