<div class="content" id="<%= dom_id category %>">

  <% if show_page %>
    <p class="title m-0"><%= category.name %></p>
  <% else %>
    <p class="title m-0"><%= link_to category.name, category %></p>
  <% end %>

  <ul class="mt-2 mb-4">
    <% category.products.each do |p|%>
        <li><%= link_to p.name, product_path(p.id) %></li>
    <%end%>
  </ul>

</div>