<div class="block" id="<%= dom_id product %>">
  <%= link_to product.name, product %>


  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
