<div class="block" id="<%= dom_id product %>">
  <%= link_to product.name, product %>


  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency product.price.to_i/100.0 %>
  </p>

</div>
