<p style="color: green"><%= notice %></p>

<h1 class="title">Products</h1>

<%= link_to "New product", new_product_path, class:"button" %>

<div class="columns is-multiline" id="products">
  <% @products.each do |product| %>
    <div class="column is-3 card mx-5 my-5">
      <%# render product %>
      <%= render partial: 'product',
            locals: {show_page: false, product: product} %>
    </div>
  <% end %>
</div>

